__pycache__/
*.pyc
.env
.token
cogs/__pycache__/
cogs/*.pyc
.vscode/
.idea/
*$py.class
*.py[cod]
.venv

.genai_token
phrases.json
context.txt
currency_cache.json
last_currency_update.txt
system_message.txt
uptime.json
config.ini
last_update.txt
settings.py
scripts/
llm_context.json
data/