__pycache__/
*.pyc
.env
.token
cogs/__pycache__/
cogs/*.pyc
.vscode/
.idea/
*$py.class
*.py[cod]
.venv

.genai_token
tokens.json
phrases.json
context.txt
currency_cache.json
last_currency_update.txt
system_message.txt
uptime.json
config.ini
last_update.txt
settings.py
llm_context.json
data/
llm_limits_state.json
schedule_agent_context.json
*.sqlite3
webhooks_config.json
llm_token_budget.json
*_api