# As far as we know,
# the settings in this file take effect only after the entire bot is restarted.


# --- Paths and modules(cogs) ---
paths = {
    "cogs": "cogs",
    "discord_token_file": ".ds_bot_token",
    "genai_token_file": ".genai_token",
    "config_ini": "config.ini",
    "auto_schedule_executable": "app" # Regarding the "modules/automatic_timetable/build" folder
}
# The configurable path to the Google GenAI token and others has not yet been implemented.

# --- Channels and Guilds IDs settings ---
channels = {
    "bot_news": 123,
    "terminal_channel": 123, # A channel where users can use the bot's commands. We plan to remove this setting.
    "statistic": [123, 123], # The channel(s) where the bot can post and edit its own messages.
    "add_logs": 123 # For the error handler (CoolDown and others)
}

schedule_categories = {
    123456789: 987654321 # guild_id: category_id
}

guilds = [123, 456]
main_guild_id = 123

# --- Modules and embeds ---

# <integer_server_id>: ["embed_name1", "embed_name2", ...].
# You can retrieve `embed_name` from `core.cache.embeds_to_send`
embeds_blacklist = {
    123: ["battery"],
    456: ["battery", "currency"]
}

cogs_blacklist = ["olive", "embeds.battery"] # If you disable the models that use LLM, you won't need to enter the Google GenAI token or load their library

uptime_update_seconds = 30
llm_limits_update_seconds = 15
llm_context_update_seconds = 30
hosting_update_seconds = 10
currency_update_seconds = 10
active_cogs_update_seconds = 45
usage_stats_update_seconds = 60

# --- Battery settings (You can skip this if you don't have a battery (Android hosting with Termux)) ---
is_battery = 0 # Whether the device has a battery
cost_kwh = 4.32 # Electricity cost per kWh
min_safe_percent_charge = 35
max_safe_percent_charge = 70
battery_update_seconds = 180 # (Seconds) The number of seconds between each update of the battery status (charge, current, etc.)

# --- Other ---
is_processor_info = 1

safe_seconds_before_start = 60 # (Seconds) Minimum time between bot launch notifications

# --- Schedule Settings ---
schedule_default_priority = 1
schedule_default_max_chunk_min = 45
schedule_default_break_min = 15
schedule_compute_workers = 1
schedule_loop_update_seconds = 600
schedule_max_planning_days = 60
schedule_max_compute_timeout = 15.0
schedule_default_packer_timeout = 3.0
schedule_default_gravity_timeout = 0.5
schedule_allowed_step_minutes = [1, 5, 15]
schedule_skipped_routine_collapse_threshold = 3
schedule_max_tasks_per_user = 100
schedule_max_routines_per_user = 20
schedule_max_timeblocks_per_user = 50
schedule_max_channels_per_guild = 5
